* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat' sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    background-image: url(img/noisy_net.png);
    margin-top: 52px;
    
}

.Hero{
    background-image:  url(img/hero.png);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;   
    /* margin-right: 15px;
    margin-left: 15px; */
    opacity: 95%;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0495a5;
    color: white;
    height: var(--nav-height);
    position: fixed;
    width: 100%;
    z-index: 1001;
    top: 0;
}

nav .logo {
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    margin: .5rem;
    font-size: 1.5rem;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 0.8em;
    padding: 1rem;
    display: block;
}

nav ul li:hover {
    background-color: rgb(74, 87, 97);
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 27px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .navbar-link {
        display: none;
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-link ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-link li{
        text-align: center;
    }

    .navbar-link li a {
        padding: .5rem 1rem;
    }

    .navbar-link.active{
        display: flex;
    }

}
/* Navbar EnD */

/* Kontainer  1 CARD*/
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Montserrat&family=Pacifico&family=Poppins:wght@500;600;700&display=swap');

.container-satu {
    width: auto;
    margin-right: 20px;
    justify-content: center;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.kolom-utama   {
    flex: 3;
    order: 2;
    margin-bottom: 30px
}
.kolom-utama h1{
    font-family: 'Fuzzy Bubbles', cursive;
    margin-bottom: 30px;
    font-weight: 1000;
    color: white
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');


 .container-satu .kolom-utama h1{
    text-align: center;
}

.container-satu .container {
    position: relative;
    display: flex;

}


.container-satu .container .card {
    position: relative;
    width: 240px;
    height: 310px;
    background: rgb(54, 150, 151);
    border-radius: 20px;
    overflow: hidden;
    margin: 5px;
    /* flex: 1; */
}

.container-satu .container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #66cec4;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
    opacity: 50%;
}

.container-satu .container .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container-satu .container .card .imgBx {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 80%;
    transition: .5s;
}

.container-satu .container .card:hover .imgBx {
    top: 10%;
    transform: translateY(-25%);
    /* bug  */
}

.container-satu .container .card .imgBx img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 118px;
}

.container-satu .container .card .imgBx .item1 {
    width: 220px;
}
.container-satu .container .card .imgBx .item2 {
    width: 120px;
}
.container-satu .container .card .imgBx .item3 {
    width: 130px;
}
.container-satu .container .card .imgBx .item4 {
    width: 160px;
    top: 30%;
}
.container-satu .container .card .imgBx .item5 {
    width: 130px;
}
.container-satu .container .card .imgBx .item6 {
    width: 150px;
}
.container-satu .container .card .imgBx .item7 {
    width: 110px;
}
.container-satu .container .card .imgBx .item8 {
    width: 145px;
}
.container-satu .container .card .imgBx .item9 {
    width: 170px;
}
.container-satu .container .card .imgBx .item10 {
    width: 125px;
}
.container-satu .container .card .imgBx .item11 {
    width: 270px;
}
.container-satu .container .card .imgBx .item12 {
    width: 150px;
}
.container-satu .container .card .imgBx .item13 {
    width: 350px;
    margin-left: 30px;
}
.container-satu .container .card .imgBx .item14 {
    width: 250px;
    transform: translate(-50%, -50%) rotate(30deg);
}
.container-satu .container .card .imgBx .item15 {
    width: 250px;
    transform: translate(-50%, -50%) rotate(30deg);
}

.container-satu .container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container-satu .container .card:hover .contentBx {
    height: 160px;
}

.container-satu .container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    color: #fafafa;
}

.container-satu .container .card .contentBx .size,
.container .card .contentBx .harga {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container-satu .container .card:hover .contentBx .harga {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
    display: flex;
    flex-wrap: wrap;
}

.container-satu .container .card .contentBx .size h3,
.container .card .contentBx .harga h3 {
    color: white;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 10px;
}

.container-satu .container .card .contentBx .size h3,
.container .card .contentBx .harga h4 {
    color: white;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    margin-right: 9px;
    
}

.container-satu .container .card .contentBx .color span:nth-child(2) {
     background: #1BBFE9;
}

.container-satu .container .card .contentBx .color span:nth-child(3) {
     background: #1B2FE9;
}

.container-satu .container .card .contentBx .color span:nth-child(4) {
     background: #080481;
}

.container-satu .container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 5px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.container-satu .container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
} 

@media screen and (max-width: 2000px){
    .container-satu {
        display: flex;
        justify-content: space-between;

    }
    .container-satu .container {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        /* margin-right: 1px; */
    }    
}

/* END CARD */


/* FOOTER */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Poppins:wght@500;600;700&display=swap');


body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row   {
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #2a6463;
    padding: 70px 0;
}
.footer-co{
    width: 50%;
    padding: 0 15px;
}
.footer-co h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-co h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #171b1d;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-co ul li p{
    text-align: justify;
    color: #fff;
    margin-top: 10px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #171b1d;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}


/* responsive */

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-co{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
    .footer-co{
        width: 100%;
    }
}
.cprg{
    display: flex;
    background-color: #2a6463;
}
.bott{
    
    /* margin: 10 10 10 10; */
    color: white;
    text-align: center;
    margin: auto;
    font-size: 10px;
}
